<a href="/zmones/naujas">Naujas</a>
<table>
    {{#each zmones}}
    <tr>
        <td>
            {{this.vardas}}
        </td>
        <td>
            {{this.pavarde}}
        </td>
        <td>
            {{dateFormat this.gimimoData}}
        </td>
        <td>
            {{this.alga}}
        </td>
        <td>
            <a href="/zmones/{{this.id}}">Edit</a>
        </td>
        <td>
            <a href="/zmones/{{this.id}}/delete">Delete</a>
        </td>
        <td>
            <a href="/zmones/{{this.id}}/kontaktai" style="padding-left:30px;">{{this.vardas}} Kontaktai</a>
        </td>
    </tr>
    {{/each}}
</table>